body {
    background-color: #eee8aa;
    background: linear-gradient(to left, #dbd37c, rgb(214, 183, 169));
    margin-left: 100px;
}

h1 {
    font-size: 30pt;
    color: #139e8c;
    font-style: italic;
    border-bottom: solid thin black;
    border: 2px solid rgb(4, 173, 173);
    border-radius: 30px;
}

p {
    font-size: 12pt;
    line-height: 14pt;
    font-family: Arial;
    letter-spacing: 0.2mm;
    word-spacing: 0.8mm;
    color: blue;
}


.cssliste {
    font-size: 15pt;
    color: #af7f51;
    font-style: italic;
    border-bottom: solid thin black;
}

.titre3a6 {

    font-size: 31px;
    color: rgb(214, 123, 4);
    text-shadow: #eee8aa 2px 0 10px;

}

.crack:hover {

    font-size: 50px;
    color: rgb(52, 20, 128);
}


.crack {
    transition: all 500ms;

}


.pfin {
    border: 1px solid rgba(58, 71, 187, 0.5);
    padding: 10px;
}

.jaune {
    background-color: #ffff00;
    float: right;
    width: 100px;
    margin: 0;
    }
    .verte {
    background-color: #00ff00;
    }

.left
    {
    float: left;
    width: 31.33%;
    background-color: #c92944;
    margin: 1%;
    height: 150px;
    }

#suivant
{
    clear : both;
    background-color: yellow;
}


