body{
    margin:0;
    padding: 0;
    background-color: #E0E1DC;
}



.titreAccueil{

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 1.5EM;      
    background-color:#F0EBCE
}

.titre{

    font-size: 40px;
    font-stretch: extra-expanded;
}

.navbar{
    height: 80px;
    
}

.btn{
    background-color: black;
    margin-right: 5%;
}

footer{
    font-size: 40px;
    color: rgb(211, 9, 9);
    position: absolute;
    display: block;
    bottom: 0px !important;
    width: 100%;
    height: 5rem;
    background-color: #23231d;
}



.images_caroussel {
    display: block ;
    height: 100%;
    max-width: 52%;
    
}

#carouselExampleControls{
    padding : 1%;
    display: block;
}  