
.titreAccueil{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 1EM;      
    background-color:#F0EBCE
}

.titre{
    font-size: 60px;
    font-stretch: extra-expanded;
}

.navbar{
    height: 80px;    
}

.btn{
    background-color: black;
    margin-right: 5%;
}

.footer1{
    font-size: 40px;
    position: absolute;
    bottom: 0px !important;
    width: 100%;
    height: 5rem;
    background-color: #F0EBCE;
}



.images_caroussel {
    display: block ;
    height: 100%;
    max-width: 45%;    
}

#carouselExampleControls {
    padding : 1%;
    display: block;
}  

.buttonco{
    --bs-btn-font-weight: 600 !important;
    --bs-btn-color: var(--bs-white)!important;
    --bs-btn-bg: var(--bd-violet)!important;
    --bs-btn-border-color: var(--bd-violet)!important;
    --bs-btn-border-radius: .5rem!important;
    --bs-btn-hover-color: var(--bs-white)!important;  
}