{% extends "base.html.twig" %}

{% block title%}  Shoes Island Categorie 

{% endblock %}

{% block body %}


    <h6>PAGE CATEGORIE</h6>



    {% for scat in categorie.sousCategories %}
        <div>
            {{ scat.sousCategorieNom }}
        </div>

    {% endfor %}

{% endblock %}
    
