{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}



{% block body %}

<
    <div class="container">
            <div class="row">
             <h1>Les Catégories</h1>
             <hr>
        
        {% for categorie %}
            <div class="col-6 border">
            
                <a href="/categorie/">
                    {{ CategorieNom}}  
                    <img src="/images/{{categorie.imagesrc}}" alt="categorie" class="img-fluid w-100 imagescategories">
                    <div class="text-center">
                        {{categorieType}}
                    </div>                           
                </a>
            </div>
        {% endfor %}
                
{% endblock %}