{% extends "base.html.twig" %}

{% block title%}  Produit

{% endblock %}

{% block body %}

<div class="container  justify-content-center">
    <div class="row">
        <h1>Produits</h1>
     </div> 
        </br>
        <div class="col-8 row border-radius">
        {% for produit in produits %}
            
                <a href="/produit/">
                    {{produit.nom}}
                    <img src="/images/{{produit.imgsrc}}" alt="categorie" class="img-fluid w-100 ">
        
        {% endfor %}       
    </div>
</div>

{% endblock %}
  