{% extends "base.html.twig" %}

{% block title%}  Produit

{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1>Produits</h1>
     </div> 

        <div class="col-4 row border-radius">
        {% for produit in produits %}
            
                <a href="/categorie/">
                    {{produit.nom}}
                    <img src="/images/{{produit.imgsrc}}" alt="categorie" class="img-fluid w-100 ">
        
        {% endfor %}  
       
    
    
    
    </div>



</div>



{% endblock %}
  